@model UniversityCourseManagementSystemApp.Models.Teacher
@{
    ViewBag.Title = "Course Assign to Teacher";
}
    <div class="container sm100">
        <div class="row st_login_form">
            <div class="col-md-offset-3 col-md-6">
                <div class="addDepartment">
                    <h3>Course Assign to Teacher</h3>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return checkCredit()" }))
                    {

                        @Html.Label("Department");
                        @Html.DropDownListFor(x => x.TeacherDepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"))<br />
                        <span>@Html.ValidationMessageFor(x => x.TeacherDepartmentId)</span><br />

                        @Html.Label("Teacher");
                        <select name="TeacherId" id="TeacherId">
                            <option value="">---Select---</option>
                        </select><br />
                        <span>@Html.ValidationMessage("TeacherId")</span><br />

                        @Html.Label("Credit to be Taken");
                        <input type="text" readonly="readonly" name="Credit" id="Credit" /><br />

                        @Html.Label("Remaining Credit");
                        <input type="text" readonly="readonly" name="RemainingCredit" id="RemainingCredit" /><br />

                        @Html.Label("Course")
                        <select name="CourseId" id="CourseId">
                            <option value="">---Select---</option>
                        </select><br />
                        <span>@Html.ValidationMessage("CourseId")</span><br />

                        @Html.Label("Course Name");
                        <input type="text" readonly="readonly" name="CourseName" id="CourseName" /><br />

                        @Html.Label("Credit")                ;
                        <input type="text" readonly="readonly" name="CourseCredit" id="CourseCredit" /><br />

                        <p align="center">
                            <button>Assign</button>
                        </p>
                    }
                    
                </div>
            </div>
        </div>
    </div>
    @{
        if (@ViewData["Message"] != "")
        {
            <script language="javascript">
                alert('@ViewData["Message"]');
            </script>
        }
    }
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    
    function checkCredit() {
        if ($("#RemainingCredit").val() - $("#CourseCredit").val() < 0.0) {
            var ans = confirm("Teacher's Remaining Credit going to negative.Are You Sure?");
            if (ans === true) {
                return true;
            } else {
                return false;
            }
        }
    }
    $(document).ready(function () {
        $("#TeacherDepartmentId").change(function () {
            var deptId = $("#TeacherDepartmentId").val();
            $("#TeacherId").empty();
            $("#Credit").val("");
            $("#RemainingCredit").val("");
            $("#CourseId").empty();
            $("#CourseId").append('<option value= "">---Select---</option>');
            $("#TeacherId").append('<option value= "">---Select---</option>');
            var json = {
                departmentId: deptId

            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTeacherByDepartmentId", "Teacher")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#TeacherId").append('<option value=' + value.Id + '>' + value.TeacherName + '</option>');

                    });

                }
            });
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllUnAssignCoursesByDeptId", "Courses")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#CourseId").append('<option value=' + value.Id + '>' + value.CourseCode + '</option>');

                    });

                }
            });
        });
        $("#TeacherId").change(function () {
            var teacherId = $("#TeacherId").val();
            $("#Credit").empty();
            $("#Credit").val("");
            $("#RemainingCredit").val("");
            var json = {
                teacherId: teacherId

            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTeacherInformationById", "Teacher")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $("#Credit").val(data.TeacherCredit);
                    $("#RemainingCredit").val(data.TeacherCredit - data.CourseTaken);
                }
            });
        });
        $("#CourseId").change(function () {
            var courseId = $("#CourseId").val();
            $("#CourseName").val("");
            $("#CourseCredit").val("");
            var json = {
                courseId: courseId

            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCourseInformationByCourseId", "Courses")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $("#CourseName").val(data.CourseName);
                    $("#CourseCredit").val(data.CourseCredit);
                }
            });
        });
    });

</script>

